body{
    background-color: rgb(231, 231, 231);
    font-family: 'Spectral', serif;
}

#katie_logo{
    width: 10%;
}

a:hover{
    color: rgb(34, 107, 95) !important;
}

.center{
    margin: auto;
    text-align: center;
}

#menu_bar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(231, 231, 231);
}

#menu_elemek li{
    font-size: 23px;
    padding: 0px 15px;
    text-align: inherit;
    list-style-type: none;
    display: inline-block;
}

.menu_elem{
    text-decoration: none;
    color: black;
}

#currently_active_menu{
    color:rgb(15, 88, 88);
    border-bottom: 2px solid rgb(15, 88, 88);
}

#cover_photo{
    width: 100%;
    padding-top: 100px;
}

