/*Főoldal és navigáció*/

*{
    box-sizing: border-box;
}

p{
    line-height: 2;
}

body{
    margin:0;
    padding:0;
    background-color: rgb(240, 240, 240);
    font-family: 'Spectral', serif;
}

header{
    height: 350px;
    background-image: url(../img/cover1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

#borito_kontener{
    padding-left: 60px;
    padding-top: 40px;
    max-width: 40%;
    text-align: center;
}

#borito_kontener img{
    display: inline-block;
    width: 60%;
    min-width: 150px;
    margin-top: 120px;
    animation: elotunes;
    animation-duration: 2s;  
}

@keyframes elotunes{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

nav{
    padding:0;
    margin: 0;
    background: #dccfd3;
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav ul{
    text-align: center;
    margin:0;
    padding:8px;
}

nav li{
    display: inline-block;
    position: relative;
    padding: 8px 20px;
    border-radius: 15px;
    transition: background 0.3s;
}

body nav ul ul{
    position: absolute;
    background: #dccfd3;
    display: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

body nav ul ul li{
    display:block;

}

body nav ul li:hover ul{
    display:block;
    right: 0;
    top:46px;
}

nav li:hover{
    background-color: #c3a2aa;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color:black;
}

#aktiv_oldal{
    border-bottom: 1px solid #a86c6c;
}

#udvozlet{
    margin:auto;
    text-align: center;
    width: 70%;
    padding: 50px 0px;
}

#udvozlet hr{
    width: 15%;
}

#udvozlet p{
    line-height: 2;
}

#udvozlet h2{
    margin: 15px 0px;
}

.center{
    width: 70%;
    margin:auto;
}

#kezdolap_grid, #also_grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 60px 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.kezdolap_grid_item{
    /*Flex-el tudjuk a gridben lévő elemeket középre igazítani*/
    display: flex;
    align-items: center;
    justify-items: center;
}

#kezdolap_grid img, #also_grid img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.kezdolap_grid_item .grid_photo{
    min-width: 555px !important;
}

#apertura{
    display:block;
    margin: auto;
    width: 15% !important; 
    box-shadow: none !important;
    animation: porges 2s infinite;
}

@keyframes porges{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#felho{
    display:block;
    margin: auto;
    padding-top: 30px;
    width: 15% !important; 
    box-shadow: none !important;
    animation: pulzal 3s infinite;
}

@keyframes pulzal{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.75);
    }
    100%{
        transform: scale(1);
    }
}

.kezdolap_grid_item section{
    width: 90%;
    text-align: justify;
}

#kezdolap_grid h2, #also_grid h2{
    text-align: center;
}

.link_kontener{
    text-align: center;
    margin-top: 40px;
}

.link_kontener a[rel="alternate"]{
    text-decoration: none;
    background: #b58f9a;
    border-radius: 20px;
    color:#fff;
    padding: 10px;
    font-weight: 500;
}

.link_kontener a:hover{
    background: #be8b9a;
}

#werk_kontener{
    width: 45%;
    margin: auto;
    text-align: center; 
    border-top: solid 2px #b58f9a;
    border-bottom: solid 2px #b58f9a;
}

#werk_kontener p{
    font-size: 16px;
}

video{
    width: 80%;
    min-width: 225px;
    margin-bottom: 20px;
}

#ajanlat_box{
    text-align: center;
    padding: 35px;
}

#ajanlat_box::first-line{
    padding: 30px;
}

footer{
    margin-top:20px;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #ddd;
    height: 150px;
    background: rgb(236, 233, 233);
}

.footer_oszlop{
    width: 45%;
    text-align: center;
    float:left;
    margin:auto;
}

#home{
    width: 10%;
    height: 100px;
    float: left;
    align-content: center;
}

#home a{
    display: block;
    margin: auto;
    padding-top: 25px;
    height: 50px;
}

#home img{
    display: block;
    margin: auto;
    height: 50px;
}

.footer_oszlop ol{
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 20px;
}

.footer_oszlop li{
    display: inline-block;
    padding-right: 6%;  
}

.footer_oszlop a > img, #copyright img{
    height: 20px;
}

.footer_oszlop li:hover{
    filter: drop-shadow(2px 1px #b58f9a);
}

footer h2{
    font-size: 20px;
}

footer label{
    font-size: 90%;
}

#footer_input{
    height: 30px;
    padding: 0.5rem 1rem;
    outline: none;
    background-color: rgba(230,230,230,0.6);
    transition: .3s;
    margin-left: 10px;
}

#footer_submit{
    margin-left: 10px;
    background-color: #b58f9a;
    color: #fff;
    padding: 5px 10px;

}

#copyright{
    clear: left;
    margin: auto;
    text-align: center;
}

#copyright p::first-letter{
    text-transform: capitalize;
}

/*Rólam*/
.content_container{
    width:60%;
    margin:auto;
    padding-top: 25px;
}

h1{
    width: 100%;
    text-align: center;
    font-size: 60px;
    padding: 0;
    padding-top: 30px;
    margin: auto;
    animation: elotunes 1s;
}

.decor_line{
    padding: 0;
    width: 100px;
}

.content_container h2, .decor_line{
    animation-name: elotunes;
    animation-duration: 3s;
}

.content_container img{
    width: 100%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content_container #katie{
    display: block;
    width: 50%;
    min-width: 400px;
    margin: auto;
    padding-top: 30px;
}

#studio_pic{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.content_container p{
    text-align: justify;
}

.content_container #idezetbox{
    text-align: center;
    padding: 20px;
}

/*Referenciák*/
.rovid_leiras_center p{
    text-align: center;
    padding-top: 10px;
}

#album{
    width: 70%;
    margin: auto;
}

.grid_container{
    display: grid;
    /*Hány oszlopot szeretnénk*/
    grid-template-columns: auto auto auto;
    column-gap: 9px;
    justify-content: center;
    align-content: center;
    padding-bottom: 30px;
}

.grid_item{
    width: 30%;
    opacity: 90%;
}

.grid_item:hover{
    opacity: 100%;
}


/* árajánlat */

.rovid_leiras_arajanlat{
    width: 60%;
    margin:auto;
    padding-top: 25px;
    text-align: center;
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    background-color: rgba(230,230,230,0.6);
    margin-bottom: 22px;
    transition: .3s;
    
  }
  
  .field:hover{
    background-color: rgba(255, 44, 44, 0.1);
    
  }
  
  .field:focus{
    background-color: #fff;
    
  }
  
  .btn{
    width: 160px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1.1rem;
    background-color: #b58f9a;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
    margin-top: 5%;
    font-family: 'Spectral',serif;
  }
  
  .btn:hover{
    background-color: #ad7f8d;
  }


  .urlap_container{
    width: 40%;
    margin: auto;
    padding: 20px;
    margin-bottom: 50px;
    font-weight: bold;
  }

  .kapcsolatok{
    width: 70%;
    margin: auto;
    padding: 20px;
    text-align: center;
  }

  .contact{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    line-height: 50px;
    }
    
    .map {
        text-align: center;
    }

    .map iframe{
        width: 500px;
        height: 300px;
    }

/*Szolgáltatásim*/

.table {
    z-index: 1;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    border-collapse: collapse;
    width: 50%;
    height: 200px;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.table th {
    background-color:#a86c6c;
    text-align: center;
    font-weight: bold;
    transition: all .2s ease-in;
    cursor: pointer;
}

.table tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table tr:hover {
    background-color: #b58f9a;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}


@media print{
    table{
        width: 500pt;
        break-after:auto;
    }

    .grid_container{
        width: 600pt;
    }

    p{
        font-size: 10pt;
    }

    header, nav{
        display:none;
    }

    #borito_kontener img{
        display: none;
    }

    h1, h2, h3{
        page-break-after: avoid;
    }
}

@page{
    margin: 0.5cm;
}

@media screen and (max-width: 1280px){
    .grid_container{
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 1100px){
    header{
        background-position: top center;
        background-size: cover;
    }

    #kezdolap_grid, #also_grid{
        grid-template-columns: auto;
    }

    #werk_kontener{
        width: 70%;
    }

    .table{
        width: 70%;
    } 

    .urlap_container{
        width: 60%;
    }

    .map iframe{
        width: 500px;
        height: 300px;
    }
}

@media screen and (max-width: 850px){
    .footer_oszlop{
        float: none;
        width: 100%;
     }
     
     #home{
        display: none;
     }

     footer{
        height: 270px;
     }

     .grid_container{
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 800px){
    .content_container{
        width: 70%;
    }

    .table{
        width: 90%;
    }
}

@media screen and (max-width: 760px){
    nav{
        position:relative;
    }
    nav li{
        display: block;
    }

    .urlap_container{
        width: 80%;
    }

    .map{
        width: 80%;
    }
    .map iframe{
        width: 400px;
        height: 300px;
    }
}

@media screen and (max-width: 690px){
    .content_container{
        width: 100%;
    }
}

@media screen and (max-width: 550px){
    #borito_kontener{
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    #werk_kontener{
        width: 100%;
    }

    .content_container #katie{
        min-width: 300px;
    }

    .map iframe{
        width: 300px;
        height: 200px;
    }
}

@media screen and (max-width: 500px){
    .table{
       font-size: 12px;
    }

    .content_container h1{
        font-size: 40px;
    }
}

@media screen and (max-width: 450px){
    .grid_item{
        width: 100%;
    }
    .grid_item img{
        width: 100%;
    }

    .content_container{
        width: 90%;
    }
}

@media screen and (max-width: 430px){
    .contact{
        font-size: 14px;
    }
}

@media screen and (max-width: 400px){
    #footer_submit{
        margin-top: 20px;
    }

    .content_container #katie{
        min-width: 250px;
    }

    .table{
        font-size: 11px;
        width: 100%;
     }

     .map iframe{
        width: 250px;
        height: 125px;
    }
}

@media screen and (max-width: 370px){
    .contact{
        font-size: 11px;
    }
}

.warning{
    line-height: normal !important;
    font-weight: lighter;
    margin-bottom: 20px;
    margin-top: 0;
    color: red !important;
}
