*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    background-color: rgb(240, 240, 240);
    font-family: 'Spectral', serif;
}

header{
    height: 450px;
    background-image: url(../img/cover1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.borito_kontener{
    padding-left: 100px;
    padding-top: 70px;
    max-width: 50%;
}

h1{
    color: #a86c6c;
    font-family: Dancing Script;
    font-size: 85px;
    animation: elotunes;
    animation-duration: 2s;
    
}

@keyframes elotunes{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

nav{
    padding:0;
    margin: 0;
}
nav ul{
    text-align: center;
    margin:0;
    padding:10px;
}

nav li{
    display: inline-block;
    padding: 10px 20px;
    transition: background 0.3s;
}

nav li:hover{
    background-color: #DDD;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color:black;
}

#aktiv_oldal{
    border-bottom: 1px solid #a86c6c;
}

section{
    margin:auto;
    padding:30px 20px;
    max-width: 50%;
    text-align: center;
}

section p{
    line-height: 1.5;
    font-weight: 300;
}

h2{
    padding: 10px;
    font-weight: 500;
}

#erdo_kep{
    width: 100%;
}

/*Rólam*/
.content_container{
    width:60%;
    margin:auto;
    padding-top: 25px;
}

.content_container h2{
    text-align: center;
    font-size: 60px;
    padding: 0;
    padding-top: 30px;
    margin: auto;
}

.decor_line{
    padding: 0;
    width: 100px;
}

.content_container h2, .decor_line{
    animation-name: elotunes;
    animation-duration: 3s;
}

.content_container img{
    width: 100%;
    margin:auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content_container #katie{
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 30px;
}

.content_container p{
    text-align: justify;
}

.content_container #idezetbox{
    text-align: center;
    padding: 20px;
}